<div class="row">
  <div class="col-md-12">
      <a><%= link_to "Back to all Applications",applications_path, class: 'btn btn-cta-secondary btn-small' %></a>
   </div>
  <div class="col-md-12"><h1><%=@application.name%></h1></div>
  <div class="col-md-8">
    <p>Phone: <%=@application.phone%></p>
    <p>Email: <%=@application.email%></p>
  </div>
  <div class="col-md-4">
   <p>This area is reserved for updating the status</p>
  </div>
</div>