<div class="col-md-4">
  <h4><%=link_to job.title, job%></h4><i><small>posted on <%=job.created_at.strftime("%B %d") %></small></i>
</div>
<div class="col-md-8">
  <%if current_admin.present?%>
    <span><%= link_to "Edit", edit_job_path(job), class: 'badge inline' %></span>
  <%end%>
</div>
<div class="col-md-12">
  <p><%=job.description%></p>
</div>