<body data-spy="scroll">
    
    <!-- ******PROMO****** -->
    <section id="promo" class="promo section offset-header">
        <div class="container text-center">
            <h2 class="title">Hired<span class="highlight">!</span></h2>
            <p class="intro">The Leading Westerosi Job Board</p>
            <div class="btns">
                <a class="btn btn-cta-secondary" <%= link_to "Find a Job", jobs_path%></a>
            </div>
        </div><!--//container-->
        <div class="social-media">
            <div class="social-media-inner container text-center">
                <ul class="list-inline">
                    
        
                </ul>
            </div>
        </div>
    </section><!--//promo-->
    
    <!-- ******ABOUT****** --> 
    <section id="about" class="about section">
        <div class="container">
            <h2 class="title text-center">What is Hired!?</h2>
            <p class="intro text-center">Hired! is a compilation of jobs from all across Westeros: from the Wall to King's Landing.  We are the leading job board for companies, candidates and wildlings.  Whether you are looking for a managment postiion or to fight white walkers, we have something for you. </p>
            <div class="row">
                  
            </div><!--//row-->            
        </div><!--//container-->
    </section><!--//about-->